# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Ignore Visual Studio Cache 
.vs

# I dunnno where this is comin from 
bin

# Or this
.classpath

# huh
.settings

# how bout that 
.project

# Windows Executables
.exe

# GoLand
.idea
